# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist-site
dist/types

# Build
*.tsbuildinfo
*.d.ts
*.js.map
vite.config.*.d.ts
vite.config.*.js

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
.stylelintcache
