@import 'tailwindcss';
@import 'tw-animate-css';

@import './styles/themes/base.css';
@import './styles/themes/light.css';
@import './styles/themes/dark.css';
@import './styles/themes/material.css';
@import './styles/themes/nord.css';
@import './styles/themes/dracula.css';
@import './styles/themes/one-dark.css';
@import './styles/themes/tokyo-night.css';
@import './styles/themes/catppuccin.css';
@import './styles/themes/wechat.css';
@import './styles/themes/telegram.css';
@import './styles/themes/github.css';
@import './styles/themes/twitter.css';
@import './styles/themes/discord.css';
@import './styles/themes/notion.css';
@import './styles/themes/monokai-pro.css';
@import './styles/themes/gruvbox.css';
@import './styles/themes/solarized.css';
@import './styles/themes/aurora.css';
@import './styles/themes/forest.css';
@import './styles/themes/ocean.css';
@import './styles/themes/starlight.css';
@import './styles/themes/desert.css';
@import './styles/themes/neon.css';
@import './styles/themes/ink-wash.css';
@import './styles/themes/sakura.css';
@import './styles/themes/moonlight.css';
@import './styles/themes/bamboo.css';
@import './styles/themes/landscape.css';
@import './styles/themes/autumn.css';